.horaires-body {
  background-image: linear-gradient(rgba(249, 246, 246, 0.955),rgba(233, 242, 245, 0.602)), url("../img/toris.jpg");
  background-attachment: fixed;
}

.schedule {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 700px;
    margin: auto;
    font-family: var(--main-font);
    margin-top: 40px;

  }

  .schedule-item {
    border-left: 6px solid var(--logo-color);
    padding: 15px 20px;
    background-color: rgba(242, 242, 242, 0.856);
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border-radius: 30px;
  }

  .schedule-item h3 {
    margin: 0 0 5px;
    font-size: 18px;
    color: #333;
  }

  .schedule-item p {
    margin: 3px 0;
    color: #555;
  }
