@import url('https://fonts.googleapis.com/css2?family=Saira+Stencil+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prosto+One&display=swap');

@import url('footer.css');
@import url('tarifs.css');
@import url('horaires.css');
@import url('instructeurs.css');
@import url('contact.css');

:root{
  --primary-color: #2c3039;
  --secondary-color: #C5CBD6;
  --text-color: rgb(240, 235, 232);
  --logo-color: #aa2c1b;
  --menu-font: "Saira Stencil One", sans-serif;
  --main-font: "Prosto One", sans-serif;

}
*{
  margin: 0;
}
html, body{
  height: 100vh;
  font-size: 18px;
  margin: 0;
}

h1, h2, h3, h4, p{
  font-family: var(--main-font);
}

a{
  text-decoration: none;
  color: var(--secondary-color);
}
main{
  padding-bottom: 100px;
}

header img{
  width: 60px;
  height: 60px;
}

header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(11, 11, 12, 0.8);
  height: 80px;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 2;
}
.titre{
  display: flex;
  align-items: center;
  gap: 20px;
  color: var(--text-color);
}
.menu ul{
  display: flex;
  gap: 40px;
  margin-right: 30px;
  font-family: var(--menu-font);
  color: var(--secondary-color);
  font-size: 22px;
}

.menu li{
  list-style: none;
}
label, #toggle{
    display: none;
}


.banner{
  background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(41, 42, 43, 0.5)), url(../img/dojo.jpg);
  background-size: cover;
  background-position: center;
  height: 320px;
  object-fit: fill;
  position: relative;
  top: -80px;
  z-index: 1;
  color: var(--text-color);
}

.banner h2{
  padding: 15vh 10vh 0 5vh;
  font-size: 30px;
}
.banner p {
  padding: 0 10vh 0 5vh;
}
.banner blockquote{
  font-style: italic;
}
section img{
  width: 500px;
  height: 300px;
  contain: fit;
  border-radius: 30px;
  box-shadow: #9f9fa0 5px 4px 4px;
}
section{
  color: var(--primary-color);
}
.intro {
  margin: -50px 100px;
  display: flex;
  align-items: center;
  padding-right: 120px;
  text-align: justify;
  gap: 30px;
  font-size: medium;
}
.intro p{
  margin-top: -50px;
}
.intro2 {
  margin: -50px auto;
  display: flex;
  text-align: justify;
  width: 80%;
  gap: 40px;
}
.intro3 {
  margin: 10px 50px 0 200px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 30px;
  font-size:medium;
}






/* !MEDIA QUERIES */

@media (max-width: 1280px) {
  #bushido {
    font-size: 1.4em;
  }
  .intro, .intro3{
    font-size: 15px;
  }
  .intro {
    padding-right: 50px;
  }
  .intro2 {
    margin: 40px auto;
  }
  .intro3 {
    margin-top: -50px;
  }
  section img{
    width: 400px;
    height: auto;
    margin-top: 0px;
    margin-bottom: 40px;
  }
}


@media (max-width: 1024px) {
  #bushido {
    font-size: 0.9em;
  }
  .banner h2, .banner p {
    padding-left: 5vh;
  }
  .banner h2{
  font-size: 20px;
  }
  .banner p {
    font-size: 14px;
  }
  .intro, .intro3 {
    flex-direction: column;
    margin: 0px auto;
    padding: 20px;
    width: 90%;
    height: auto;
    text-align: justify;
    font-size: 15px;
  }
  .intro{
    margin-top: -50px;
  }
  .intro2{
    width: 90%;
    margin: auto;
  }
  section p {
    width: 90%;
  }
  .menu ul{
  font-size: 20px;
  }
}


@media (max-width: 900px) {
  #bushido {
    font-size: 0.8em;
  }
  .banner h2, .banner p {
    padding: 0 3vh;
    margin: auto;
  }
  .banner h2{
  padding-top: 12vh;
  }

  .intro p {
    margin-top: -30px;
  }
  .intro2{
    flex-direction: column;
  }
  .menu ul{
  font-size: 18px;
  }
  section img{
    width: 400px;
    height: auto;
    margin: auto;
  }
  nav{
    height: 60px;
    }
  #menu{
      display: none;
      flex-direction: column;
      height: auto;
      width: 100%;
      background-color: rgba(11, 11, 12, 0.9);
      margin: 22px auto;
      padding: 30px auto;
  }
  nav label{
      width: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 30px 0 auto;
      font-size: 40px;
      color: white;
      cursor: pointer;
  }
  #toggle:checked + ul {
        display: flex;
    }
  .schedule {
    max-width: 80%;
  }
  .txt {
    font-size: 14px;
    margin: 20px auto;
    padding: 30px;
  }
    table{
    font-size: 13px;
  }
  .instructors {
    max-width: 80%;
  }
  .formulaire-contact {
    max-width: 70%;
  }
  footer{
    font-size: 14px;
  }
}

@media (max-width: 540px) {
  .menu ul{
  font-size: 16px;
  gap: 20px;
  margin-right: 10px;
  }
  .banner h2{
  font-size: 18px;
  padding-top: 11vh
  }
  .banner p {
    font-size: 13px;
  }
  section img {
    width: 280px;
  }
  table{
    font-size: 12px;
  }
  footer{
    font-size: 12px;
  }
}
